/* This is comment in CSS */

/* web font example using google fonts*/
@import 'https://fonts.googleapis.com/css?family=Coda';

/* CSS SYNTAX TERMINOLOGY
p is the CSS SELECTOR; color is CSS style property; dark blue color is the CSS property's value; and "color:#00008f;" is the CSS style declaration
*/

p {
	color:#00008f;
	background-color:#f0d4ad;
	
	/* web-safe font example; change to "Coda" to see web font example*/
	font-family: Tahoma, Verdana, sans-serif;
	
}

/* We can target multiple selectors by comma-separating them*/
h1, h2 {
	color:darkgreen;
	text-align: center;
}

ul {
	background-color:pink;
	list-style-type:circle;
}

/* .section targets ALL elements of class "section" */
.section {
	margin:auto;
  	width: 80%;
  	background: #f2c120;
  	border: solid 20px #4d4600;
}

/* #bold targets ONE element with the id "bold" */
#bold {
	font-weight:bold;
}
